.frameChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 416px;
  height: 285px;
  object-fit: cover;
}
.ceramics {
  margin: 0;
}
.ceramicsCoffeCupContainer,
.shopNow {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #1c0e00;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ceramicsCoffeCupContainer {
  position: absolute;
  top: 0;
  left: 446px;
  line-height: 40px;
  text-transform: uppercase;
}
.shopNow {
  position: relative;
  line-height: 28px;
  text-transform: capitalize;
}
.vectorIcon {
  width: 24px;
  position: relative;
  height: 14px;
  object-fit: contain;
}
.shopNowParent {
  position: absolute;
  top: 89px;
  left: 0;
  width: 114px;
  height: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-7xs);
  font-size: var(--furniture-button-size);
  font-family: var(--font-questrial);
}
.ceramicsCoffeCupParent {
  position: absolute;
  top: 106px;
  left: 446px;
  width: 179px;
  height: 103px;
}
.rectangleParent {
  width: 645px;
  position: relative;
  background-color: var(--color-whitesmoke-300);
  height: 285px;
  text-align: left;
  font-size: var(--paragraph-larg-size);
  font-family: var(--font-cinzel);
}
