.frameChild,
.frameItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 420px;
  height: 377px;
}
.frameChild {
  background-color: var(--cermics-color-bg);
  opacity: 0.5;
}
.frameItem {
  object-fit: cover;
}
.p,
.potrayHandcraftBottle {
  margin: 0;
}
.p {
  font-size: var(--font-size-xl);
}
.potrayHandcraftBottleContainer {
  position: absolute;
  top: 407px;
  left: 82px;
  line-height: 30px;
  text-transform: capitalize;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #1c0e00;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.buyNow {
  position: relative;
  line-height: 28px;
  text-transform: capitalize;
  opacity: 0.9;
}
.buyNowWrapper,
.rectangleParent {
  position: absolute;
  left: 0;
  box-sizing: border-box;
  width: 420px;
}
.buyNowWrapper {
  top: 483px;
  background-color: var(--ceramics-color-button);
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-155xl);
  font-size: var(--furniture-button-size);
}
.rectangleParent {
  top: 0;
  background-color: var(--furniture-color-white);
  border: 1px solid var(--cermics-color-bg);
  height: 533px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--furniture-color-white);
  font-family: var(--font-questrial);
}
