.exploreNewAnd {
  position: absolute;
  top: 648px;
  left: -52px;
  font-size: var(--body-2-size);
  text-transform: uppercase;
  font-family: var(--button);
  color: var(--dark);
  display: inline-block;
  width: 648px;
  height: 52px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.img01Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 312px;
  height: 312px;
  object-fit: cover;
}
.background {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--primary);
}
.background,
.hot,
.ribbon {
  position: absolute;
}
.hot {
  height: 66.67%;
  width: 53.85%;
  top: 16.67%;
  left: 23.08%;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
}
.ribbon {
  top: 22px;
  left: 0;
  width: 52px;
  height: 24px;
  display: none;
}
.pants,
.product {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
}
.product {
  text-align: right;
}
.bottomCategory,
.card {
  position: absolute;
  width: 312px;
}
.bottomCategory {
  bottom: 0;
  left: 0;
  background-color: var(--black);
  border: 1px solid var(--black);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-mini) var(--padding-sm);
  text-align: left;
  font-size: var(--a-size);
}
.card {
  top: 0;
  left: 672px;
  height: 312px;
}
.img18Icon {
  top: 0;
  height: 648px;
  object-fit: cover;
}
.bottomCategory1,
.card1,
.card2,
.img18Icon {
  position: absolute;
  left: 0;
  width: 648px;
}
.bottomCategory1 {
  bottom: 0;
  background-color: var(--black);
  border: 1px solid var(--black);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-mini) var(--padding-sm);
  text-align: left;
  font-size: var(--a-size);
}
.card1,
.card2 {
  top: 0;
  height: 648px;
}
.card2 {
  top: 336px;
  left: 672px;
  width: 312px;
  height: 312px;
}
.background3 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--black);
}
.background3,
.ribbon3,
.sale {
  position: absolute;
}
.sale {
  top: 16.67%;
  left: 23.08%;
  text-transform: uppercase;
  font-weight: 600;
}
.ribbon3 {
  top: 22px;
  left: 0;
  width: 52px;
  height: 24px;
}
.bottomCategory3 {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--black);
  border: 1px solid var(--black);
  box-sizing: border-box;
  width: 312px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-mini) var(--padding-sm);
  font-size: var(--a-size);
}
.card3,
.card4,
.hotCategory {
  position: absolute;
  left: 1008px;
  width: 312px;
  height: 312px;
}
.card3 {
  top: 0;
  text-align: left;
}
.card4,
.hotCategory {
  top: 336px;
}
.hotCategory {
  top: 1097px;
  left: 300px;
  width: 1320px;
  height: 648px;
  text-align: center;
  font-size: var(--overline-size);
  color: var(--furniture-color-white);
  font-family: var(--a);
}
