.frameChild {
  width: 60px;
  position: relative;
  height: 60px;
}
.contactUs {
  position: relative;
  line-height: 30px;
  text-transform: uppercase;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #1c0e00;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.groupParent {
  width: 219px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-12xl);
}
.shippingInner {
  position: absolute;
  top: 0;
  left: 1373px;
  background-color: var(--color-whitesmoke-100);
  width: 307px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-lgi);
  box-sizing: border-box;
}
.groupContainer {
  width: 245px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-29xl);
}
.shippingChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  width: 308px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0 var(--padding-8xl);
  box-sizing: border-box;
}
.groupParent1 {
  width: 280px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-29xl);
}
.frameDiv {
  position: absolute;
  top: 0;
  left: 915px;
  background-color: var(--color-whitesmoke-100);
  width: 356px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-17xl);
  box-sizing: border-box;
}
.ellipseDiv {
  width: 60px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-orangered);
  height: 60px;
}
.fi5412910Child,
.vectorIcon {
  position: absolute;
  height: 97%;
  width: 96.33%;
  top: 1.33%;
  right: 1.67%;
  bottom: 1.67%;
  left: 2%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fi5412910Child {
  height: 200%;
  width: 200%;
  top: 0;
  right: -513.33%;
  bottom: -100%;
  left: 413.33%;
}
.fi5412910 {
  width: 30px;
  position: relative;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
  margin-top: -45px;
}
.ellipseParent,
.frameParent {
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.frameParent {
  width: 258px;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.shipping,
.shippingInner1 {
  position: absolute;
  height: 140px;
}
.shippingInner1 {
  top: 0;
  left: 458px;
  box-shadow: 0 10px 50px rgba(249, 234, 220, 0.3);
  background-color: var(--cermics-color-bg);
  border: 1px solid var(--color-mistyrose-100);
  box-sizing: border-box;
  width: 313px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0 var(--padding-8xl);
}
.shipping {
  top: 1008px;
  left: 120px;
  width: 1680px;
  text-align: left;
  font-size: var(--font-size-5xl);
  font-family: var(--font-questrial);
}
