.icon,
.stylesolidPaddingsquareS {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  width: 20px;
  position: relative;
  height: 19px;
  flex-shrink: 0;
}
.stylesolidPaddingsquareS {
  width: 25px;
  height: 25px;
  flex-direction: row;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--gravy-fa6-navy);
  font-family: var(--font-font-awesome-6-free);
}
