.icon,
.v6IconFree {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  width: 16px;
  position: relative;
  flex-shrink: 0;
}
.v6IconFree {
  width: 20px;
  height: 20px;
  flex-direction: row;
}
.filter {
  position: relative;
  font-size: var(--a-size);
  text-transform: capitalize;
  font-family: var(--a);
  text-align: left;
}
.typesmallStatusnormalDir {
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-mini);
  gap: var(--gap-9xs);
  text-align: center;
  font-size: var(--span-2-size);
  color: var(--furniture-color-white);
  font-family: var(--font-font-awesome-6-free);
}
